
body{                        <!--这是一段注释。注释不会在浏览器中显示。-->
    width: 100vw;            <!--棋盘的大小>
    height: 100vh;
    display:flex;       
    align-item:center;            <!--中心对齐>
    justify-content: center;
    margin:0;                        <!--让他的边缘为零>
}

.game-pane {                         <!--边界设定>
     border-style: solid;                        
     border-width:1px;
     border-color:#ccc;

     border-shadow:2px 2px 2px #ccc;
}

.cell{                               <!--单个小方格>
    background-color: #ccc;
    width: 1.5em;
    height:1.5cm;
}